<html>
    <head>
        <meta charset="utf-8">
        <title>Mi-Long</title>
        <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
        <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> Favicon -->
    </head>
    <body>
        <div id="hamburger"><image src="images/menu-icon.svg" width="100px" height="100px"></image>></div>
        <!-- <div class="outer-cirlce-container">
            <div class="circle-container">
                <div class="pulsating-circle"></div>
                <div class="solid-circle"></div>
            </div>
            <div class="outer-pulsating-circle"></div>
        </div> -->
        
    </body>

    <script src="script.js" defer></script> <!-- Link to your JavaScript file -->
</html>