
<html>
<head>
    <meta charset="utf-8" />
    <title>Mi-Long</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    
    <div class="main-container">
        <div id="hamburger">
            
        </div>
        
        <div class="mainContent">
            <div class="outer-cirlce-container">
                <div class="circle-container">
                    <div class="pulsating-circle"></div>
                    <div class="solid-circle"></div>
                </div>
                <div class="outer-pulsating-circle"></div>
            </div>
        </div>
        
        <div class="bottomContent">
            <div class="translate-container">
                <div class="language-section">
                    <button id="from-language-btn" class="language-button">
                        English
                    </button>
                    
                    <div class="arrow">&#x2195;</div>
                    
                    <button id="to-language-btn" class="language-button">
                        Chinese
                    </button>
                </div>
                
                <button id="translate-btn">Translate</button>
            </div>
            
            
            <div class="split-screen">
                <div class="top-container">Top Half</div>
                <div class="bottom-container">
                    Bottom Half
                   
                </div>
            </div>
        </div>

        
        <div id="languageModal" class="modal">
            <div class="modal-content">
                <div class="modal-topbar">
                    <input class="search-bar" type="text" placeholder="Search">
                    <span class="close">&times;</span>
                </div>                    
                <ul class="language-list">
                    <li>English</li>
                    <li>German</li>
                    <li>Mandarin</li>
                </ul>
            </div>
        </div>            
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
