
<html>
<head>
    <meta charset="utf-8" />
    <title>Mi-Long</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    
    <div class="main-container">
        <!-- <div id="hamburger">
            <img src="../Static/images/menu-icon.svg" width="80px" height="50px">
        </div>
         -->
        <div class="mainContent">
            <div class="outer-cirlce-container">
                <div class="circle-container">
                    <div class="pulsating-circle"></div>
                    <div class="solid-circle"></div>
                </div>
                <div class="outer-pulsating-circle"></div>
            </div>
        </div>

        
        <button id="start-recognition">Start Speech Recognition</button>
        <button id="stop-recognition" disabled>Stop Speech Recognition</button>
        <p id="message"></p>
        

        <label for="recognition-language-select">Recognition Language:</label>
        <select id="recognition-language-select">
            <option value="en-US">English</option>
            <option value="zh-CN">Mandarin</option>
            <option value="de-DE">German</option>
        </select>

        <label for="tts-language-select">TTS Language:</label>
        <select id="tts-language-select">
            <option value="en-US">English</option>
            <option value="es-ES">Spanish</option>
            <option value="zh-CN">Mandarin</option>
            <option value="de-DE">German</option>
        </select>

        
        <div class="bottomContent">
            <div class="translate-container">
                <div class="language-section">
                    <button id="from-language-btn" class="language-button">
                        English
                    </button>
                    
                    <div class="arrow">&#x2195;</div>
                    
                    <button id="to-language-btn" class="language-button">
                        Mandarin
                    </button>
                </div>
                
                <button id="translate-btn">Translate</button>
            </div>
            
            
            <div class="split-screen">
                <div class="top-container">Top Half</div>
                <div class="bottom-container">
                    Bottom Half
                   
                </div>
            </div>
        </div>

        
        <div id="languageModal" class="modal">
            <div class="modal-content">
                <div class="modal-topbar">
                    <input class="search-bar" type="text" placeholder="Search">
                    <span class="close">&times;</span>
                </div>                    
                <ul class="language-list">
                    <li>English</li>
                    <li>German</li>
                    <li>Mandarin</li>
                </ul>
            </div>
        </div>            
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
